## Exploratory Data Analysis Using London Airbnb Data

This notebook explores the London Airbnb dataset from Inside Airbnb.

1. Imports and Setup
    - Importing necessary libraries
    - Loading dataset
    - Quick data insights (shape, info)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
listings_df = pd.read_csv("../data/listings.csv")
listings_df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20250914034649,2025-09-16,city scrape,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,...,4.87,4.78,4.78,NaN,f,2,1,1,0,0.30
1,15400,https://www.airbnb.com/rooms/15400,20250914034649,2025-09-16,city scrape,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,...,4.84,4.93,4.74,NaN,f,1,1,0,0,0.51
2,17402,https://www.airbnb.com/rooms/17402,20250914034649,2025-09-16,city scrape,Very Central Modern 3-Bed/2 Bath By Oxford St W1,"You'll have a great time in this beautiful, cl...","Fitzrovia is a very desirable trendy, arty and...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,...,4.72,4.89,4.61,NaN,f,2,2,0,0,0.32
3,24328,https://www.airbnb.com/rooms/24328,20250914034649,2025-09-18,previous scrape,Battersea live/work artist house,"Artist house by SW Battersea Park, bright high...","- Battersea is a quiet family area, easy acces...",https://a0.muscache.com/pictures/9194b40f-c627...,41759,...,4.93,4.60,4.65,NaN,f,1,1,0,0,0.53
4,36274,https://www.airbnb.com/rooms/36274,20250914034649,2025-09-15,city scrape,Bright 1 bedroom apt off brick lane in Shoreditch,*Update June '25- Pump Installed to improve wa...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,133271,...,4.46,4.85,4.54,NaN,t,2,2,0,0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96866,1508894090797273412,https://www.airbnb.com/rooms/1508894090797273412,20250914034649,2025-09-16,city scrape,"Blueground | Finsbury, balcony, nr St. Paul's",Feel at home wherever you choose to live with ...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,314162972,...,NaN,NaN,NaN,NaN,t,405,405,0,0,NaN
96867,1508900042872179492,https://www.airbnb.com/rooms/1508900042872179492,20250914034649,2025-09-15,city scrape,Self-Contained Studio in Heart of Tooting Broa...,Welcome to your perfect London stay - The Lond...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,718690455,...,5.00,5.00,5.00,NaN,f,1,1,0,0,2.00
96868,1508926597927944565,https://www.airbnb.com/rooms/1508926597927944565,20250914034649,2025-09-14,city scrape,One bedroom apartment Dagenham,"Modern 1-bedroom apartment in Kerwin House, Da...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,389056540,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
96869,1508962439633147670,https://www.airbnb.com/rooms/1508962439633147670,20250914034649,2025-09-15,city scrape,Short Stay,Take it easy at this unique and tranquil getaway.,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,683246718,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
96870,1508964418056953740,https://www.airbnb.com/rooms/1508964418056953740,20250914034649,2025-09-15,city scrape,Lovely Room in central London for 4 people,The whole group will enjoy easy access to ever...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,320860309,...,NaN,NaN,NaN,NaN,f,10,1,9,0,NaN

In [4]:
#Output of the first 5 rows of dataset
listings_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20250914034649,2025-09-16,city scrape,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,...,4.87,4.78,4.78,NaN,f,2,1,1,0,0.30
1,15400,https://www.airbnb.com/rooms/15400,20250914034649,2025-09-16,city scrape,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,...,4.84,4.93,4.74,NaN,f,1,1,0,0,0.51
2,17402,https://www.airbnb.com/rooms/17402,20250914034649,2025-09-16,city scrape,Very Central Modern 3-Bed/2 Bath By Oxford St W1,"You'll have a great time in this beautiful, cl...","Fitzrovia is a very desirable trendy, arty and...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,...,4.72,4.89,4.61,NaN,f,2,2,0,0,0.32
3,24328,https://www.airbnb.com/rooms/24328,20250914034649,2025-09-18,previous scrape,Battersea live/work artist house,"Artist house by SW Battersea Park, bright high...","- Battersea is a quiet family area, easy acces...",https://a0.muscache.com/pictures/9194b40f-c627...,41759,...,4.93,4.60,4.65,NaN,f,1,1,0,0,0.53
4,36274,https://www.airbnb.com/rooms/36274,20250914034649,2025-09-15,city scrape,Bright 1 bedroom apt off brick lane in Shoreditch,*Update June '25- Pump Installed to improve wa...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,133271,...,4.46,4.85,4.54,NaN,t,2,2,0,0,0.09

In [5]:
#Output last 5 rows of dataset
listings_df.tail()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
96866,1508894090797273412,https://www.airbnb.com/rooms/1508894090797273412,20250914034649,2025-09-16,city scrape,"Blueground | Finsbury, balcony, nr St. Paul's",Feel at home wherever you choose to live with ...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,314162972,...,NaN,NaN,NaN,NaN,t,405,405,0,0,NaN
96867,1508900042872179492,https://www.airbnb.com/rooms/1508900042872179492,20250914034649,2025-09-15,city scrape,Self-Contained Studio in Heart of Tooting Broa...,Welcome to your perfect London stay - The Lond...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,718690455,...,5.0,5.0,5.0,NaN,f,1,1,0,0,2.0
96868,1508926597927944565,https://www.airbnb.com/rooms/1508926597927944565,20250914034649,2025-09-14,city scrape,One bedroom apartment Dagenham,"Modern 1-bedroom apartment in Kerwin House, Da...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,389056540,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
96869,1508962439633147670,https://www.airbnb.com/rooms/1508962439633147670,20250914034649,2025-09-15,city scrape,Short Stay,Take it easy at this unique and tranquil getaway.,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,683246718,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
96870,1508964418056953740,https://www.airbnb.com/rooms/1508964418056953740,20250914034649,2025-09-15,city scrape,Lovely Room in central London for 4 people,The whole group will enjoy easy access to ever...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,320860309,...,NaN,NaN,NaN,NaN,f,10,1,9,0,NaN

In [9]:
#Columns and rows of dataset
listings_df.shape

(96871, 79)